*{
    padding:0;
    margin:0;
}
nav {
    background-color:rgb(150, 52, 22);
    padding: 45px;
}
nav ul{
   width:100px;
   margin: 0%;
   display:inline-flex;
   text-align: center;
   line-height: 20px;
}
nav li{
    width: 200px;
    float: left;
    font-size: x-large;
    margin-left: 80px ;
}
.logo{
    text-align: left;
    float: left;
    font-size: x-large;
    font-style: oblique;
    color: azure;
}
p{
    font-size: xx-large;
    text-align: center;
    color: azure;
}
h2{
    text-align: center;
    font-size: xx-large;
    color: azure;
}
.home{
    background-image: url("../images/pizza-5143513_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    width: 400px;
    
}


h1{
    text-align: center;
}
#btn{
    color: red;
    background-color: black;
}
.price{
    font-size: medium;
    
}
.body{
    background-image: url("../images/table-3219660_960_720.webp");
    background-size: cover;
    width: 100vh;
    
    
}
#menu{
    background-color:rgb(150, 52, 22);;
}